
.btn {
	display: inline-block;
	.ib();
	#gradient .vertical(@btn-bg-top-color,@btn-bg-btm-color);
	height: 2em;
	line-height: 2em;
	text-align: center;
	padding: 0 0.625em;
	color: @btn-color;
	text-decoration: none;
	cursor: pointer;
	border: @btn-border-width @btn-border-style @btn-border-color;
	.box-shadow(@btn-shadow-inner);
	.border-radius(@btn-border-radius);
	text-shadow: 0 0 1px rgba(0,0,0,0.2);
}