
.btn
	display: inline-block
	ib()
	font-size(13)
	margin-bottom: 0
	padding: 0.3846153846em 1.1538461538em; // 5px 15px
	simple-gradient($btn-bg-color)
	font-weight: $btn-weight
	line-height: $base-line
	vertical-align: middle
	text-align: center
	color: $btn-color
	cursor: pointer
	border: $btn-border-width $btn-border-style $btn-border-color
	*border: 0 // Removes the border to prevent IE7's black border on input:focus
	box-shadow: $btn-shadow-inner
	border-radius($btn-border-radius)
	text-shadow: 0 0 1px rgba(0,0,0,0.3)
	text-decoration: none
	&:hover
		text-decoration: none
		background-position: 0 -15px
		transition(background-position .1s linear)
	&:focus
		tab-focus()
	&.active
	&:active
		background-color: darken($btn-bg-color,10)
		background-image: none
		outline: 0
		box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)
	&.disabled
	&[disabled]
		cursor: default
		background-color: darken($white,10)
		background-image: none;
		opacity(65)
		box-shadow: none
		color: $grey
		text-shadow: none

.btn-primary
	simple-gradient($btn-primary-bg-color)

// Button icons
// -------------------------

.btn-icons
	background-color: rgba(0,0,0,0.5)
	display: inline-block
	margin-right: 0.625em
	line-height: 1
	padding: 0.1875em