
// Webkit-style focus
// ------------------
tab-focus()
  // Default
  outline: thin dotted #333
  // Webkit
  outline: 5px auto -webkit-focus-ring-color
  outline-offset: -2px

// Forms
// --------------------------------------------------

// GENERAL STYLES
// --------------

// Make all forms have space below them
form
  margin: 0 0 $base-line

fieldset
  padding: 0
  margin: 0
  border: 0

// Groups of fields with labels on top (legends)
legend
  display: block
  width: 100%
  padding: 0
  margin-bottom: base-line
  font-size(18)
  line-height: $base-line * 2
  color: grey-dark
  border: 0
  border-bottom: 1px solid #e5e5e5

// Small
small
  font-size: $base-line * .75
  color: grey-light
 

// Set font for forms
label
input
button
select
textarea
  font-size(14)
  font-weight: normal
  line-height: $base-line

input
button
select
textarea
  font-family: $base-font // And only set font-family here for those that need it (note the missing label element)

// Identify controls by their labels
label
  display: block
  margin-bottom: 5px

// Form controls
// -------------------------

// Shared size and type resets
select
textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
.uneditable-input
  display: inline-block
  height: $base-line
  padding: 4px 6px
  margin-bottom: ($base-line / 2)
  font-size(14)
  line-height: $base-line
  color: $grey
  border-radius($input-border-radius)
  vertical-align: middle

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input
textarea
.uneditable-input
  width: 206px // plus 12px padding and 2px border

// Reset height since textareas have rows
textarea
  height: auto

// Everything else
textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
.uneditable-input
  background-color: $input-background
  border: 1px solid $input-border
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
  transition(border linear .2s box-shadow linear .2s)

  // Focus state
  &:focus
    border-color: rgba(821,682,36,.8)
    outline: 0
    outline: thin dotted \9 /* IE6-9 */ 

// Position radios and checkboxes better
input[type="radio"]
input[type="checkbox"]
  margin: 4px 0 0
  *margin-top: 0 /* IE7 */
  margin-top: 1px \9 /* IE8-9 */
  line-height: normal
  cursor: pointer

// Reset width of input images buttons radios checkboxes
input[type="file"]
input[type="image"]
input[type="submit"]
input[type="reset"]
input[type="button"]
input[type="radio"]
input[type="checkbox"]
  width: auto // Override of generic input selector

// Set the height of select and file controls to match text inputs
select
input[type="file"]
  height: $input-height /* In IE7 the height of the select element cannot be changed by height only font-size */
  *margin-top: 4px /* For IE7 add top margin to align select with labels */
  line-height: $input-height

// Make select elements obey height by applying a border
select
  width: 220px // default input width + 10px of padding that doesn't get applied
  border: 1px solid $input-border
  background-color: $input-background // Chrome on Linux and Mobile Safari need background-color

// Make multiple select elements height not fixed
select[multiple]
select[size]
  height: auto

// Focus for select file radio and checkbox
select:focus
input[type="file"]:focus
input[type="radio"]:focus
input[type="checkbox"]:focus
  tab-focus()


// Control group margin
.control-group
  margin-bottom: ($base-line/2)

// Placeholder
// -------------------------

// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
input
textarea
  placeholder()


// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.radio
.checkbox
  min-height: base-line // clear the floating input if there is no label text
  padding-left: 20px

.radio input[type="radio"]
.checkbox input[type="checkbox"]
  float: left
  margin-left: -20px

// Move the options list down to align with labels
.controls > .radio:first-child
.controls > .checkbox:first-child
  padding-top: 5px // has to be padding because margin collaspes

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline
.checkbox.inline
  display: inline-block
  padding-top: 5px
  margin-bottom: 0
  vertical-align: middle

.radio.inline + .radio.inline
.checkbox.inline + .checkbox.inline
  margin-left: 10px // space out consecutive inline controls



// INPUT SIZES
// -----------

// General classes for quick sizes
.input-mini
  width: 60px

.input-small
  width: 90px

.input-medium
  width: 150px

.input-large
  width: 210px

.input-xlarge
  width: 270px
  
.input-xxlarge
  width: 530px



// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled]
select[disabled]
textarea[disabled]
input[readonly]
select[readonly]
textarea[readonly]
  cursor: not-allowed
  background-color: $input-disabled-background

// Explicitly reset the colors here
input[type="radio"][disabled]
input[type="checkbox"][disabled]
input[type="radio"][readonly]
input[type="checkbox"][readonly]
  background-color: transparent


// HELP TEXT
// ---------

.help-block
.help-inline
  color: lighten($base-color,15) // lighten the text some for contrast

.help-block
  display: block // account for any element using help-block
  margin-bottom: $base-line / 2

.help-inline
  display: inline-block
  ib()
  vertical-align: middle
  padding-left: 5px