body {
  padding-top: 1.65em;
  background-image: url(img/dark_brick_wall.png);
  background-repeat: repeat;
}
.share-bar {
  text-align: center;
  margin-bottom: 1.65em;
}
.hero {
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.hero-title {
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.03);
  line-height: 1.5;
  border: 1px solid #dedede;
  color: #e6e6e6;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.hero-text {
  color: #999999;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
.braces {
  font-weight: bold;
}
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 2.5em;
  border-left: 1px solid #0099e6;
}
.split:first-child {
  padding-left: 0;
  border-left: 0;
}
.feature-wrap {
  padding-bottom: 1.65em;
  background-image: url(img/white_brick_wall.png);
  background-repeat: repeat;
}
.feature-icon {
  background-color: #004466;
  width: 5em;
  height: 5em;
  line-height: 5em;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.feature-icon [class*="icon"] {
  color: #ffde00;
  font-size: 64px;
  font-size: 6.4rem;
}
.feature-wrap a {
  color: #ffde00;
}
.features {
  padding: 3.3em 1.65em;
  -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #0088cc;
  background-image: -moz-linear-gradient(left, #0074ad, #0088cc);
  background-image: -ms-linear-gradient(left, #0074ad, #0088cc);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#0074ad), to(#0088cc));
  background-image: -webkit-linear-gradient(left, #0074ad, #0088cc);
  background-image: -o-linear-gradient(left, #0074ad, #0088cc);
  background-image: linear-gradient(left, #0074ad, #0088cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074ad', endColorstr='#0088cc', GradientType=1);
  border: 10px dashed rgba(255, 255, 255, 0.2);
}
.features li {
  width: 47.5%;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 0.825em;
  margin-left: 2.5%;
}
.features li:first-child {
  margin-left: 0;
}
.features li:nth-child(3n) {
  margin-left: 0;
}
.features-title small {
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 1.65em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.actions {
  text-align: center;
  margin-bottom: 1.65em;
}
.actions [class*="btn"]:first-child {
  margin-right: 0.625em;
}
