
@import 'variables.less';
@import 'mixins.less';

@import 'reset.less';
@import 'base.less';
@import 'grid.less';
@import 'abstractions.less';
@import 'type.less';
@import 'utility.less';
@import 'responsive-utilities.less';
@import 'forms.less';
@import 'buttons.less';
@import 'font-awesome.less';

//

.tiles {
	height: 400px;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.tile {
	background-color: darken(@grey,5);
	padding: 30px;
}

.tile-primary {
	width: 30%;
}