h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: @headings-font;
	font-weight: @headings-weight;
	color: @headings-color;
	text-rendering: optimizelegibility;
}

h1 small, 
h2 small {
	font-weight: normal;
	color: @grey-light;
}

.mega {
	margin-bottom: @base-line / 2;
	.font-size(64);
	line-height: 1.5;
}


h1,
.alpha { 
	margin-bottom: @base-line / 4;
	.font-size(44);
	line-height: 1.2;
}

h2,
.beta { 
	margin-bottom : @base-line / 4;
	.font-size(28);
	line-height: 1.2;
}

h3,
.charlie { 
	margin-bottom: @base-line / 4;
	.font-size(24);
	line-height: 1.3;
}

h4,
.delta { 
	margin-bottom: @base-line;
	.font-size(18);
	line-height: 1.25;
}

h5,
.echo { 
	.font-size(16);
	margin-bottom: @base-line;
}

h6,
.milli { 
	margin-bottom: @base-line;
	.font-size(14); 
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.flat {
	margin-bottom: 0;
}

.subheading {
	font-weight: normal;
}

// TYPOGRAPHY

p, 
ol, 
ul, 
dl, 
address { 
	margin-bottom: @base-line; 
}

small { 
	font-size: 0.4em;
}

ul, 
ol { 
	margin: 0 0 @base-line; 
}

li ul, 
li ol { 
	margin: 0;
	.font-size(16);
}

// definition lists

dl, 
dd { 
	margin-bottom: @base-line;
}

dt { 
	font-weight: bold;
}

// text-level

b, strong { 
	font-weight: bold;
}
