
// Typographical Mixins
// -------------------------

// Text Margin

text-margin(size)
  margin-bottom: unit(size/1.6, px)

// Uppercase

uppercase()
  text-transform: uppercase

// Bold

bold()
  font-weight: bold

// Border 

border(params...)
  params = unquote('1px solid') unless params
  border: params

// Alias: B

b()
  border()

// Typographical styles
// -------------------------

h1
h2
h3
h4
h5
h6
	font-family: $headings-font
	font-weight: $headings-weight
	color: $headings-color
	text-rendering: optimizelegibility
	margin: 0

h1
.alpha
	font-size: 32px
	font-size: 2rem
	text-margin(32)
	line-height: 1.2

h2
.beta
	font-size: 24px
	font-size: 1.5rem
	text-margin(24)
	line-height: 1.2

h3
.charlie
	font-size: 21px
	font-size: 1.3125rem
	text-margin(21)
	line-height: 1.3

h4
.delta
	font-size: 18px
	font-size: 1.125rem
	text-margin(18)
	line-height: 1.25

h5
.echo
	font-size: 16px
	font-size: 1rem
	text-margin(16)

h6
.milli
	font-size: 14px
	font-size: 0.875rem
	text-margin(14)

// $Body text

p
ul
ol
table
form
	margin-bottom: $base-line

// !imporant is fine here, these styles are boolean

.flat
	margin-bottom: 0 !important

.pressed
	margin-bottom: $base-line/2 !important

// $Alignment

.text-left
	text-align: left

.text-right
	text-align: right

.text-center
	text-align: center

// $Weights

b
strong
	font-weight: bold

.subheading
	font-weight: 200

// $Block type

p
ol
ul
address
	margin-bottom: $base-line

small
	font-size: 0.4em

// $Lists

ul
ol
	margin: 0 0 $base-line $base-line

li ul
li ol 
	margin: 0

ul
	list-style: square

.unstyled
	margin-left: 0
	list-style: none
