
// Nicolas Gallagher micro clearifx
// -------------------------
// http://nicolasgallagher.com/micro-clearfix-hack/

// For modern browsers
.nav:before,
.nav:after,
.media:before,
.media:after,
.island:before,
.island:after,
.islet:before,
.islet:after,
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.nav:after,
.media:after,
.island:after,
.islet:after,
.cf:after {
    clear:both;
}

// For IE 6/7 (trigger hasLayout)
.nav,
.media,
.island,
.islet,
.cf {
    *zoom:1;
}

// The Kellum Method
// -------------------------
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Floating classes (use sparingly)

.left {
	float: left;
}

.right {
	float: right;
}

// Visibility utilities

// For desktops
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { } // Don't set initially
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }

// Phones only
@media (max-width: 767px) {
  // Show
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: none !important; }
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Show
  .visible-tablet    { display: inherit !important; }
  // Hide
  .hidden-tablet     { display: none !important; }
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
}