
// Colours
// -------------------------

// Greyscale

@black:                      #000;
@grey-darker:                #111;
@grey-dark:                  #333;
@grey:                       #555;
@grey-light:                 #999;
@grey-lighter:               #ddd;
@white:                      #fff;

// Accent

@red:                        #ff0000;
@blue:                       #08c;
@yellow:                     #ffde00;
@orange:                     #ff7800;
@green:                      #2dda1b;

// Type stuff
// -------------------------

@font-size:                  16px;
@base-line:                  1.65em;
@base-font:                  "proxima-nova-1","proxima-nova-2", 'Helvetica Neue', Helvetica, Arial, sans-serif;
@alt-font:                   Cambria, Georgia, Times, 'Times New Roman';          
@base-color:                 @grey;
@headings-font:              "nimbus-sans-1","nimbus-sans-2",sans-serif;
@headings-weight:            bold;
@headings-color:             inherit;

@link-color:                 @blue;
@link-color-hover:           darken(@link-color,5);

// Base
// -------------------------

@site-bg:                    darken(@white,2)	;

// Buttons

@btn-bg-top-color:           darken(@white,10);
@btn-bg-btm-color:           darken(@btn-bg-top-color,5);
@btn-border-color:           darken(@btn-bg-top-color,10);
@btn-border-width:           1px;
@btn-border-style:           solid;
@btn-color:                  @grey;
@btn-shadow-inner:           inset 0 1px 1px rgba(255,255,255,0.8);
@btn-border-radius:          2px;

// Textures
// -------------------------

@noise-bg:                  url(img/noise.png);
