
// Colours
// -------------------------

// Greyscale

@black:                      #000;
@grey-darker:                #111;
@grey-dark:                  #333;
@grey:                       #555;
@grey-light:                 #999;
@grey-lighter:               #ddd;
@white:                      #fff;

// Accent

@red:                        #ff0000;
@blue:                       #08c;
@yellow:                     #ffde00;
@orange:                     #ff7800;
@green:                      #2dda1b;


// Project colours

@branding:                   @blue;

// Type stuff
// -------------------------

@base-size:                  87.5%	;
@font-size:                  16;
@line-height:                1.618em;
@base-font:                  'Helvetica Neue', Helvetica, arial, sans-serif;
@base-weight:                300;
@alt-font:                   Cambria, Georgia, Times, 'Times New Roman';          
@base-color:                 @grey-lighter;
@alt-color:                  @orange;
@headings-font:              inherit;
@headings-weight:            bold;
@headings-color:             inherit;

@link-color:                 @blue;
@link-color-hover:           darken(@link-color,5);

// Layout stuff
// -------------------------


@base-line:  		 		         @line-height;
@gutterwidth: 		     	     24px;

// Base
// -------------------------

@site-bg:                    darken(@grey,10);


// Buttons
// -------------------------

@btn-bg-top-color:           darken(@white,5);
@btn-bg-btm-color:           darken(@btn-bg-top-color,5);
@btn-border-color:           darken(@btn-bg-top-color,10);
@btn-border-width:           1px;
@btn-border-style:           solid;
@btn-color:                  @grey;
@btn-shadow-inner:           inset 0 1px 1px rgba(255,255,255,0.8);
@btn-border-radius:          2px;
